@import "bootstrap/dist/css/bootstrap.min.css";

/* Style chung cho dự án */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: 700;
}